# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
Fachada/test/unit/resources/application.properties
FileServer/test/unit/resources/application.properties
FileServer/target/test-classes/application.properties
FileServer/test/integration/resources/application.properties
FileServer/target/classes/application.properties
FileServer/target/classes/application.properties
LoadBalancer/src/test/resources/application.properties
Worker/src/test/resources/application.properties
